<%= form_with(model: [commentable, @comment]) do |f| %>
	<div class="form-group">
		<%= f.text_field :body, class: "form-control", placeholder: 'Your thoughts' %>
	</div>

	<div class="actions">
		<%= f.submit 'Post', class: 'btn btn-default' %>
	</div>
<% end %>