<div class="home-hero">
	<div class="container">
		<div class="welcome-note">
			<div class="row">
				<div class="col-sm-6">
					<div class="">
						<h1>Welcome to <strong>scribler</strong></h1>
						<p>Connect with your friends, readers and other writers by writing and reading stories. Read stories from topics that interest you.</p>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="home-options">
						<%= link_to "Get Started", new_user_registration_path, class: "btn btn-danger btn-lg btn-block" %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>