.wrap-posts, .wrap-post
	width: 60%
	max-width: 650px
	margin: auto
	padding-top: 2em
	padding-bottom: 2.5em
	@media screen and (max-width: 768px)
		width: 100%
		max-width: 100%

.post-panel
	padding: 20px
	.post-body
		.post-title
			margin: 0 0
			line-height: 16px
			white-space: nowrap
			a
				color: $main
				text-decoration: none
				text-transform: capitalize
				font-size: 17px
				font-weight: 400
				&:hover
					color: $main
					text-decoration: none
					text-transform: capitalize

		.post-owner
			display: flex
			.owner-img
				margin-right: 15px
			p
				margin: 0
				line-height: 16px

.post-content
	margin: 20px auto
	padding: 30px

.post-photo
	padding: 2rem 0


// Post forms

.post-form
	.form-control
		border: none
		outline: none
		padding: 20px 10px

	input::placeholder, textarea::placeholder
		text-transform: capitalize
		font-weight: 500
		font-size: 20px
		color: lightgrey
// photo upload field

input[type="file"]
	display: none

.photo-upload 
	border: 1px solid #ccc
	display: inline-block
	padding: 6px 12px
	cursor: pointer
	i
		color: lightgrey

// Post Show
.post-head	
	font-size: 40px
	font-weight: bold

// Comment Section

.comment-section
	margin-top: 20px


// Social Share buttons
$size: 24p

.social-share-button 
	.ssb-icon 
		background-size: $size $size
		height: $size
		width: $size
  
